<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% include "meta-data.html" %}
</head>

<body  style="background-color:rgb(141, 247, 241) ;">
    <div class="container" style="margin-left: 400px;margin-top: 180px;">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-warning">
                    {{ messages[0] }}. Go to <a href="{{ url_for('login') }}" class="font-weight-bold w3-hover-text-blue">login page</a>.
                </div>
                {% endif %}
                {% endwith %}
                <form method=POST action="{{ url_for('register') }}">
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="font-weight-bold text-dark">Username</label>
                        <input type="text" class="form-control" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="font-weight-bold text-dark">Password</label>
                        <input type="password" class="form-control" name="pass" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                </form>
                <br>
                <div class="row ml-3">
                    <div class="col-6 ml-5">
                        <a href="{{ url_for('login') }}"><button
                                class="w3-button w3-block w3-round-large w3-white"><i
                                    class="fa fa-arrow-left text-dark "></i> </button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>