<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test</title>
  {% include "meta-data.html" %}
</head>

<body>
  <br><br><br><br><br><br><br>
  <div class="container">

    <h1>{{keyword_list[0]}}</h1>
  
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-success">
      {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
  
    <form method=POST action="{{ url_for('test') }}">
      <label class="font-weight-bold text-dark">Translate this word.</label>
      <input type="text" class="form-control" name="answer" placeholder="Enter the answer "><br>
      <button type="submit" >check</button>

    </form>
  </div>
</body>

</html>