<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% include "meta-data.html" %}
</head>

<body>
  {% include 'homepage/navigation.html' %}
  <br><br><br><br><br><br><br><br> -->

  <!-- <div class="container my-4 mr-4 pl-2 pt-3">
    <div class="row">
      {% for i in list_word %}
      <div class="col-4">
        
        <br>
      </div>
    </div>
  </div>
  {% endfor %} -->
  <!-- <div class="container my-4 mr-4 pl-2 pt-3">
    <div class="row">

      {% for i in list_word %}
        <div class="col-3">
          
            <br>
        </div>
        {% endfor %}


    </div>
</div>
</body>

</html> -->