<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test</title>
  {% include "meta-data.html" %}
</head>

<body>
  <div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-success">
      {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
  <h1>Animals</h1>
  <form action="" method="POST">
    <h2>Translate this word</h2>
    <h2>{{ word }}</h2>
    <input type="text" class="form-control" name="answer" placeholder="Enter the answer: ">
    <button class="btn btn-outline-primary">Check</button><br>
  </form>
 
   
      
      
  </div> 
</body>

</html>